body{
    background: #D8DFE8;
}

.logo{
    margin: 1em 0;
}

.principal{
    width: 70%;
    vertical-align: top;
    margin: 0 0 0 2em;
    display: inline-block;
}

.texto-usuario{
    margin: 2em 3em;
    background: #D8DFE8;
    resize: none;
    border: none;
    font-size: 24px;
}

.aviso{
    display: block;
}

.b-encriptar, .b-desencriptar{
    border-radius: 24px;
    padding: 24px 24px;
    width: 328px;
    height: 67px;
    border-style: solid;
    border-width: 1px;
    border-color: #0A3871;
    margin: 1em 12px;
}

.b-encriptar{
    background: #0A3871;
    color: white;
}

.b-desencriptar{
    background: #D8DFE8;
    color: #0A3871;
    
}

.resultado{
    width: 10%;
    display: inline-block;
    background: white;
}

.img-muneco{
    width: 100%;
}

footer{
    width: 100%;
    bottom: 0;
    position: absolute;
    text-align: right;
    margin: 1em 0;
}