body{
    background: #E9ECF8;
    font-family: 'Inter', sans-serif;
}

.logo{
    margin: 40px 40px;
}

.principal{
    width: 60%;
    vertical-align: top;
    margin: 0 0 0 240px;
    display: inline-block;
}

.texto-usuario{
    margin: 2em 3em 2em 0;
    background: #E9ECF8;
    resize: none;
    border: none;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

/* Esto quita el borde cuando el text area es seleccinado */
.texto-usuario:focus{
    outline: none;
    color: #0A3871;
}

.texto-usuario::placeholder{
    color: #0A3871;
    
}

.aviso{
    display: block;
    color: #495057;
    font-size: 12px;
}

.b-encriptar, .b-desencriptar, .b-copiar{
    border-radius: 24px;
    padding: 24px 24px;
    width: 328px;
    height: 67px;
    border-style: solid;
    border-width: 1px;
    border-color: #0A3871;
    margin: 1em 12px 0 0;
    font-size: 16px;
    transition: 0.5s all;
    cursor: pointer;
}

.b-encriptar{
    background: #0A3871;
    color: white;
}

.b-desencriptar{
    background: #D8DFE8;
    color: #0A3871;
}

.b-encriptar:hover, .b-desencriptar:hover, .b-copiar:hover{
    transform: scale(1.05);
}


.resultado{
    width: 20%;
    display: inline-block;
    background: white;
    padding: 50px 25px;
    border-radius: 24px;
    position: absolute;
}

.texto-encriptado{
    background-image: url(imagenes/Muneco.png);
    background-repeat: no-repeat;
    max-width: 370px;
    max-height: 520px;
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #495057;
    border: none;
}

.texto-encriptado:focus{
    outline: none;
    color: #495057;
}

/* Esto elimina el scroll que aparece a la derecha */
.texto-encriptado::-webkit-scrollbar{
    width: 0;
}

.img-muneco{
    padding: 10px;
    margin-bottom: 50px;
}

.avisos{
    text-align: center;
    margin-top: 25px;
}

.resultado h2, .resultado p{
    text-align: center;
    margin: 30px auto;
}

.resultado h2{
    font-weight: bold;
}

.b-copiar{
    margin-left: 1.5em;
}

footer{
    width: 100%;
    bottom: 0;
    position: relative;
    text-align: right;
    margin-top: 50px;
    font-size: 12px;
}