body{
    background: #E9ECF8;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    height: 80vh;
}

.logo{
    margin: 2em;
}

.principal{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    margin: 2em;
}

.texto-usuario{
    background: #E9ECF8;
    resize: none;
    border: none;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-bottom: 2em;
    height: 70%;
}

.texto-usuario:focus{
    outline: none;
    color: #0A3871;
}

.texto-usuario::placeholder{
    color: #0A3871;   
}

.aviso{
    color: #495057;
    font-size: 12px;
    margin-left: 1em;
}

.botones_encrip{
    display: flex;
    width: 70%;
}

.b-encriptar, .b-desencriptar, .b-copiar{
    border-radius: 24px;
    padding: 24px 24px;
    margin: 1em;
    border: 1px solid #0A3871;
    font-size: 16px;
    transition: 0.5s all;
    cursor: pointer;
}

.b-encriptar{
    background: #0A3871;
    color: white;
    width: 40%;
}

.b-desencriptar{
    background: #D8DFE8;
    color: #0A3871;
    width: 40%;
}

.b-encriptar:hover, .b-desencriptar:hover, .b-copiar:hover{
    transform: scale(1.05);
}

.resultado{
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    text-align: center;
    padding: 50px 25px;
    border-radius: 24px;
}

.texto-encriptado{
    background-image: url(imagenes/Muneco.png);
    background-repeat: no-repeat;
    max-width: 370px;
    max-height: 520px;
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #495057;
    border: none;
}

.texto-encriptado:focus{
    outline: none;
    color: #495057;
}

.texto-encriptado::-webkit-scrollbar{
    width: 0;
}

.resultado h2{
    font-weight: bold;
    margin: 1em auto;
}

.b-copiar{
    background: #D8DFE8;
    color: #0A3871;
    width: 70%;
}

footer{
    font-size: 12px;
    text-align: right;
    justify-content: flex-end;
    margin-top: 2em;
}